<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>

{{- $description := partialCached "data/description" . .RelPermalink -}}
<meta name='description' content='{{ $description }}'>

{{- if and .IsPage .Params.tags -}}
    <meta name='keywords' content='{{ delimit .Params.tags ", " }}'>
{{- end -}}

{{- $title := partialCached "data/title" . .RelPermalink -}}
<title>{{ $title }}</title>

{{ $url := .Permalink | safeURL }}
{{ if $.Site.Params.TrimTrailingSlash }}
    {{ $url = $url | replaceRE "/$" "" }}
{{ end }}
<link rel='canonical' href='{{ $url }}'>

{{- partial "head/style.html" . -}}
{{- partial "head/script.html" . -}}
{{- partial "head/opengraph/include.html" . -}}

{{- range .AlternativeOutputFormats -}}
    {{ $url := .Permalink }}
    {{ if $.Site.Params.TrimTrailingSlash }}
        {{ $url = $url | replaceRE "/$" "" }}
    {{ end }}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ $url }}">
{{- end -}}

{{ with .Site.Params.favicon }}
    <link rel="shortcut icon" href="{{ . }}" />
{{ end }}

<script type="application/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    var GA_LOCAL_STORAGE_KEY = 'ga:clientId';
    if (window.localStorage) {
        ga('create', 'UA-131427274-1', {
            'storage': 'none',
            'clientId': localStorage.getItem(GA_LOCAL_STORAGE_KEY),
            'siteSpeedSampleRate': 100
        });
        ga(function(tracker) {
            localStorage.setItem(GA_LOCAL_STORAGE_KEY, tracker.get('clientId'));
        });
    }
    else {
        ga('create', 'UA-131427274-1', {'siteSpeedSampleRate': 100});
    }
    ga('send', 'pageview');
</script>
{{- template "_internal/google_analytics.html" . -}}
{{- partial "head/custom.html" . -}}
