<footer id="footer">
  <div class="footer-left">
   
  </div>

  {{$scratch := newScratch}}
  {{ range (where .Site.Pages "Kind" "page" )}}
      {{$scratch.Add "total" .WordCount}}
  {{ end }}

  <section class="copyright">
    &copy; 
       {{ if and (.Site.Params.footer.since) (ne .Site.Params.footer.since (int (now.Format "2006"))) }}
           {{ .Site.Params.footer.since }} - 
       {{ end }}
       2021-2022 小球飞鱼</a> · <a id="days">0</a>Days<br>
     {{$var :=  $scratch.Get "total"}}{{$var = div $var 100.0}}{{$var = math.Ceil $var}}{{$var = div $var 10.0}}共嘟嘟了{{$var}}k字 ·  {{ len (where .Site.RegularPages "Section" "posts") }} 篇文章</br><span><p>
   </section>

   <script>
    var s1 = '2021-08-24';//设置为建站时间
    s1 = new Date(s1.replace(/-/g, "/"));
    s2 = new Date();
    var days = s2.getTime() - s1.getTime();
    var number_of_days = parseInt(days / (1000 * 60 * 60 * 24));
    document.getElementById('days').innerHTML = number_of_days;
    </script>
    
    {{if .Page.Site.Params.fancybox }}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    {{ end }}

</footer>
